In [2]:
bool(10)

True

In [3]:
if 10:
    print('OK')

if 0:
    print('OK')

if[1,2]:
    print('OK')
    
if[]:
    print('OK')
    
if 'False':
    print('OK')

OK
OK
OK

In [5]:
print(bool(0))
print(bool([1,2]))
print(bool([]))
print(bool('False'))

False
True
False
True

In [23]:
a=10

if a>5:
    print('True')
else:
    print('False')

if a<15:
    print('True')
else:
    print('False')
    
if a>=9:
    print('True')
else:
    print('False')

True
True
True

In [24]:
a=10

if a>15:
    print('True')
else:
    print('False')

if a<5:
    print('True')
else:
    print('False')
    
if a>=14:
    print('True')
else:
    print('False')

False
False
False

In [30]:
a,b=10,20
if a>9 and b>10:
    print('True')
else:
    print('False')
    
if a>15 or b>10:
    print('True')
else:
    print('False')
    
if not a>19 :
    print('True')
else:
    print('False')

True
True
True

In [31]:
a,b=10,20
if a>15 and b>10:
    print('True')
else:
    print('False')
    
if a>15 or b>29:
    print('True')
else:
    print('False')
    
if not a>9 :
    print('True')
else:
    print('False')

False
False
False

In [34]:
if 1in[1,2,3]:
    print('True')
else:
    print('False')
    
if 0in[0,1,2,3]:
    print('True')
else:
    print('False')
    
if 1in[0,1,2,3,4]:
    print('True')
else:
    print('False')

True
True
True

In [35]:
if 5in[1,2,3]:
    print('True')
else:
    print('False')
    
if 4in[0,1,2,3]:
    print('True')
else:
    print('False')
    
if 6in[0,1,2,3,4]:
    print('True')
else:
    print('False')

False
False
False

In [36]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [37]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2==0:
        print(i)

0
2
4

In [41]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2==0:
        continue
    print(i)

1
3
5

In [42]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 3==0:
        print(i)

0
3

In [50]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [52]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i >=2 and i<=4:
        print(i)

2
3
4

In [56]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i=='tokyo':
        break
    print(i)

okinawa

In [58]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'tokyo':
        continue
    print(i)

okinawa
osaka
fukuoka
hokkaido

In [59]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list_6=[]
for s in my_list:
    if len(s)>=6:
        my_list_6.append(s)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [66]:
my_list = [0,1,2,3,4,5]
x=0
for i in my_list:
        x +=i
print(x)

15

In [67]:
my_list = [0,1,2,3,4,5]
x=0
for i in my_list:
    if i % 2==0:
        x +=i
print(x)

6

In [68]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [69]:
for i in range(11):
    if i ==4:
        break
    print(i)

0
1
2
3

In [70]:
for i in 'okinawa':
    print(i)

o
k
i
n
a
w
a

In [71]:
a=1
while a<= 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [73]:
a=1
while a< 10:
    if a%2==0:
         print(a)
    a+=1

2
4
6
8